#name_mod {
	text-align:	left;
}

#name_input {
	width:		47em;
	height:		1.4em;
}

#name_container {
	position:absolute;
	z-index:9050;
}

#name_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#name_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#name_container ul {
	padding:3px 0px;
	width:100%;
}

#name_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#name_container li.yui-ac-highlight {
	background:#dcdcdc;
}


#location_mod {
	text-align:	left;
}

#location_input {
	width:		47em;
	height:		1.4em;
}

#location_container {
	position:absolute;
	z-index:9050;
}

#location_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#location_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#location_container ul {
	padding:3px 0px;
	width:100%;
}

#location_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#location_container li.yui-ac-highlight {
	background:#dcdcdc;
}

#institution_mod {
	text-align:	left;
}

#institution_input {
	width:		47em;
	height:		1.4em;
}

#institution_container {
	position:absolute;
	z-index:9050;
}

#institution_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#institution_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#institution_container ul {
	padding:3px 0px;
	width:100%;
}

#institution_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#institution_container li.yui-ac-highlight {
	background:#dcdcdc;
}

#material_mod {
	text-align:	left;
}

#material_input {
	width:		47em;
	height:		1.4em;
}

#material_container {
	position:absolute;
	z-index:9050;
}

#material_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#material_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#material_container ul {
	padding:3px 0px;
	width:100%;
}

#material_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#material_container li.yui-ac-highlight {
	background:#dcdcdc;
}

#technique_mod {
	text-align:	left;
}

#technique_input {
	width:		47em;
	height:		1.4em;
}

#technique_container {
	position:absolute;
	z-index:9050;
}

#technique_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#technique_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#technique_container ul {
	padding:3px 0px;
	width:100%;
}

#technique_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#technique_container li.yui-ac-highlight {
	background:#dcdcdc;
}

#literature_mod {
	text-align:	left;
}

#literature_input {
	width:		47em;
	height:		1.4em;
}

#literature_container {
	position:absolute;
	z-index:9050;
}

#literature_container .yui-ac-content {
	position:absolute;
	left:0px;
	top:0px;
	
	width:37.5em;
	border:1px solid #404040;
	
	background:#fff;	
	overflow:hidden;
	
	text-align:left;
	z-index:9050;
}

#literature_container .yui-ac-shadow {
	position:absolute;
	left:0px;
	top:0px;
	
	margin:.3em;
	background:#dcdcdc;
	z-index:9049;
}

#literature_container ul {
	padding:3px 0px;
	width:100%;
}

#literature_container li {
	padding:0px 5px;
	cursor:default;
	white-space:nowrap;
}

#literature_container li.yui-ac-highlight {
	background:#dcdcdc;
}